:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #ffffff;
  --background-button-color: #f5f4fa;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --accent-color: #2196f3;
  --secondary-address-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --background-team-color: #f5f4fa;
}
body {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  font-family: Roboto, sans-serif;
}
/* Whitout dots */
.list {
  list-style: none;
}
/* Header  */
.contact .link {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* Main */
.post {
  background-color: var(--secondary-background-color);
}
.post-title {
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.post-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  line-height: 50px;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}
/* Container */
.container-title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.container-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Occupation */
.occupation {
  color: var(--title-text-color);
}
.occupation h2 {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team.list,
.work.list {
  display: flex;
}
.team.list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.team.list p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Container-inner */
.container-inner h2 {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.container-inner {
  color: var(--title-text-color);
  background-color: var(--background-team-color);
}
.container-inner p {
  color: var(--primary-text-color);
}
/* Color of navigation */
.link {
  color: var(--title-text-color);
  text-decoration: none;
}
/* Just focus and hover */
.filter-button:focus,
.filter-button:focus,
.address-text:focus,
.address-text:hover,
.logo:hover,
.logo:focus,
.footer-contact .link:focus,
.footer-contact .link:hover,
.site-nav .link:focus,
.site-nav .link:hover,
.contact .link:focus,
.contact .link:hover {
  color: var(--accent-color);
}
.post-button:focus,
.post-button:hover,
.filter-button:focus,
.filter-button:hover {
  background-color: var(--accent-color);
}
.post-button:focus,
.post-button:hover,
.filter-button:focus,
.filter-button:hover {
  color: var(--secondary-text-color);
}

/* Logo */
.logo {
  color: var(--logo-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
/* Made our Web to bluey */
.logo > span {
  color: var(--accent-color);
}

/* Footer */
.footer-page {
  background-color: var(--secondary-background-color);
}
.address-text {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.down {
  color: var(--secondary-text-color);
}
.footer-contact .link {
  color: var(--secondary-address-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Portfolio */
/* Section one */
.filter {
  display: flex;
}
.filter-button {
  cursor: pointer;
  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;
  background: var(--background-button-color);
  border-radius: 4px;
}
.filter-button.current {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}
.content-name {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.content-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
